body{
  margin: 0px;
  background-color: #f5f5f5;
}

.text-center{
  text-align: center;
}

.pr-5{
  padding-right: 5px;
}

.pt-8{
  padding-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.p-15{

  padding:15px;
}